.nav{
 display: flex;
 justify-content: space-between;
 align-items:center;
 margin:20px 100px;
 color: white;
}

.nav-logo{
    font-family: Outfit;
    font-size: 50px;
    font-weight: 600;
    font-style:italic;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    gap: 90px;
}

.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background:#fff;
    color:#262626;
}